<div class="container">
  <div class="row  justify-content-md-center">
    <div class="col-12 col-lg-8">
    <%= image_tag 'banner.png', :style => "width: 100%; display: block; margin: 0 auto;" %>
    </div>
  </div>
  <div style="margin: 30px 0" class="row justify-content-md-center">
    <div class="col-12 col-lg-6">
      <div style="margin: 30px 0">
        <p class="content"><%= t('company') %></p>
        <p class="title">和光同塵 - 李兆基博士紀念展<br>A Light Among Us—Memorial Exhibition for Dr. Lee Shau-kee</p>
        <p class="date"><%= t('date') %></p>
        <p class="content">01/05/2025 - 05/05/2025</p>
        <p class="date"><%= t('location') %></p>
        <p class="content"><%= t('address1') %></p>
        <p class="content"><%= t('address2') %></p>
        <a href="https://www.google.com/maps/place/The+Henderson+-+Cloud+39/@22.2800651,114.1573697,1[…]1y8wvqwq0?entry=ttu&g_ep=EgoyMDI1MDQxMy4wIKXMDSoASAFQAw%3D%3D" target="_BLANK">View Map</a>
      </div>
    </div>
    <div class="col-12 col-lg-2" style="margin-top: 0px">
      <p class="content"><%= t('select_date') %></p>
      <% data.each do |d| %>
        <a href=<%= d[1] %>>
        <button type="button" style="font-weight: 700;" class="btn btn-block btn-secondary btn-color"><%= d[0] %></button>
      </a>
      <% end %>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-12 col-lg-8">
    <p class="content"><%= t('des_title1') %></p>
    <p class="content" style="font-weight: 200;"><%= t('des_content1') %></p>
<p class="content" style="text-decoration: underline;"><%= t('des_title2') %> </p>
<p class="content" style="font-weight: 200;"><%= t('des_content2') %></p>
<p class="content" style="text-decoration: underline;"><%= t('des_title3') %></p>
<p class="content" style="font-weight: 200;"><%= t('des_content3') %></p>
</div>

  </div>
</div>
