  <div class="container">
    <div style="margin: 30px 0" class="row justify-content-md-center">
      <div class="col-12 col-md-6">
        <%= image_tag 'banner.png', :style => "width: 100%; display: block; margin: 0 auto;" %>
        <div style="margin: 30px 0">
          <p class="content">Henderson Land Development Co. Ltd.</p>
          <p class="title">和光同塵 - 李兆基博士紀念展 “In Grace and Benevolence” Memorial Exhibition of Dr. Lee Shau Kee</p>
          <p class="date">Event Date/Time:</p>
          <p class="content">01/05/2025, 9:00 AM - 05/05/2025, 8:00 PM (GMT +08:00)</p>
          <p class="date">Event Location:</p>
          <p class="content">The Henderson</p>
          <a href="https://maps.apple.com/?q=22.2800602,114.1622353" target="_BLANK">View Map</a>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <a href=<%= t('date1.url') %> target="_BLANK">
          <button type="button" class="btn btn-block btn-secondary btn-color"><%= t('date1.name') %></button>
        </a>
        <a href=<%= t('date2.url') %> target="_BLANK">
          <button type="button" class="btn btn-block btn-secondary btn-color"><%= t('date2.name') %></button>
        </a>
        <a href=<%= t('date3.url') %> target="_BLANK">
          <button type="button" class="btn btn-block btn-secondary btn-color"><%= t('date3.name') %></button>
        </a>
        <a href=<%= t('date4.url') %> target="_BLANK">
          <button type="button" class="btn btn-block btn-secondary btn-color"><%= t('date4.name') %></button>
        </a>
        <a href=<%= t('date5.url') %> target="_BLANK">
          <button type="button" class="btn btn-block btn-secondary btn-color"><%= t('date5.name') %></button>
        </a>
    </div>
  </div>
